/* body {
    background-color: #f5f7fa;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    color: #333;
    margin: 0;
    padding: 20px;
    text-align: center;
}

h1 {
    font-size: 36px;
    color: #010911;
    margin-bottom: 30px;
}

a {
    text-decoration: none;
    font-size: 18px;
    color: white;
    background-color: #4CAF50;
    padding: 10px 15px;
    border-radius: 6px;
    margin-bottom: 30px;
    display: inline-block;
}

a:hover {
    background-color: #0f0f0fc3;
}

ul {
    list-style-type: none;
    padding: 0;
    max-width: 600px;
    margin: auto;
}

li {
    background-color: white;
    border: 1px solid #ddd;
    padding: 15px;
    margin-bottom: 15px;
    border-radius: 10px;
    text-align: left;
    box-shadow: 0 4px 8px rgba(0,0,0,0.05);
}

strong {
    font-size: 20px;
    color: #333;
} */
